<!--
  This template loads for the 'dcart' state (app.js)
-->
<ion-view view-title="Cart">
  <ion-content class="cart">
    <div class="list">

      <div class="item item-thumbnail-left">
        <img src="http://placehold.it/200x200" alt=""/>
        <h2 class="positive">Negocio 3</h2>
        <p>Descripcion del negocio, descripcion del negocio, descripcion del negocio</p>
        <div>
          <div class="col">
            <div class="pull-right">
              <a href="">
                <i class="ion-ios-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>


      <div class="item item-thumbnail-left">
        <img src="http://placehold.it/200x200" alt=""/>
        <h2 class="positive">Negocio 3</h2>
        <p>Descripcion del negocio, descripcion del negocio, descripcion del negocio</p>
        <div>
          <div class="col">
            <div class="pull-right">
              <a href="">
                <i class="ion-ios-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>


      <div class="item item-thumbnail-left">
        <img src="http://placehold.it/200x200" alt=""/>
        <h2 class="positive">Negocio 3</h2>
        <p>Descripcion del negocio, descripcion del negocio, descripcion del negocio</p>
        <div>
          <div class="col">
            <div class="pull-right">
              <a href="">
                <i class="ion-ios-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>
