<ion-view>
  <ion-content class="">
    <h2 class="product-title text-center purple" ng-hide="businesses">{{ categoryName | uppercase }}</h2>

    <!--Whoop companies filtered by category-->
    <div class="list">

      <div class="item item-thumbnail-left" ng-repeat="business in businesses" ui-sref="detail({id: business.id})">
        <img class="rounded" src="{{business.logo|thumbImg}}" alt=""/>
        <h2 class="formal">{{business.name}}</h2>
        <p ng-bind-html="business.description | shorten:70"></p>
        <div>
          <div class="col">
            <div class="pull-right">
              <a href="" ui-sref="detail({id: business.id})">
                <i class="ion-android-open energized bold-icon"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row" ng-click="loadMore()" ng-show="total_pages > $root.page">
      <button class="button button-block button-calm">
        Cargar mas
      </button>
    </div>
  </ion-content>

  <!--Tabs with schedule filters-->

  <ion-tabs class="tabs-positive tabs-icon-top">

    <ion-tab title="Mañana" class="calm" icon-on="ion-ios-partlysunny"
             icon-off="ion-ios-partlysunny-outline" on-select="timeFilter('morning')">
    </ion-tab>

    <ion-tab title="Tarde" class="calm" icon-on="ion-ios-sunny"
             icon-off="ion-ios-sunny-outline" on-select="timeFilter('afternoon')">
    </ion-tab>

    <ion-tab title="Noche" class="calm" icon-on="ion-ios-moon"
             icon-off="ion-ios-moon-outline" on-select="timeFilter('night')">
    </ion-tab>

  </ion-tabs>

</ion-view>
