<!--
  This template loads for the 'detail' state (app.js)
  'product' is a $scope variable from DetailCtrl
-->
<ion-view>
  <ion-content class="product-detail">

    <!--Images slider-->
    <ion-slide-box class="full-image" auto-play="true">
      <ion-slide ng-repeat="image in business.images">
        <div class="box">
          <img class="full-image" src="{{image.url|thumbImg}}" alt=""/>
        </div>
      </ion-slide>
    </ion-slide-box>

    <!-- Description -->
    <div class="linediv-l"></div>
    <div class="padding">
      <img ng-src="{{business.image[0].url}}" alt="">
      <h4 class="formal">{{business.name}}</h4>
      <p ng-bind-html="business.description"></p>
    </div>

    <div class="row">
      <div class="col">
        <h5 class="formal">Categoria</h5>
        <p>{{business.category}}</p>
      </div>
      <div class="col">
        <h5 class="formal">Horario</h5>
        <span>{{business.schedule|capitalize}}</span> <br>
        <!--<span>{{business.schedule_start | date}}</span> - -->
        <!--<span>{{business.schedule_end | date}}</span>-->
      </div>
    </div>

    <!--Navegacion -->
    <div class="col">
      <button class="button button-block button-energized" ng-click="navigate()">
        <i class="ion-android-car"></i>
        IR AHORA
      </button>
    </div>

    <!-- Item -->
    <div class="item padding positive">
      <p class="center">Compartir</p>
    </div>
    <div class="row">
      <div class="col center" ng-click="share('facebook')">
        <i class="ion-social-facebook larger"></i>
      </div>
      <div class="col center" ng-click="share('instagram')">
        <i class="ion-social-instagram larger"></i>
      </div>
      <div class="col center" ng-click="share('twitter')">
        <i class="ion-social-twitter larger"></i>
      </div>
    </div>
  </ion-content>
</ion-view>
