<!--
  This template loads for the 'home' state (app.js)
  'slides' and 'products' is $scope variable in HomeCtrl
-->
<ion-view>
  <ion-content class="">
    <!-- Slider using slide box -->
    <ion-slide-box class="full-image" auto-play="true">

      <ion-slide ng-repeat="slide in slides">
        <div class="box">
          <img class="full-image" src="{{slide.url}}" alt=""/>
        </div>
      </ion-slide>

    </ion-slide-box>

    <!--Whoop companies-->
    <div class="list">
      <div class="item item-thumbnail-left" ng-repeat="business in businesses" ui-sref="detail({id: business.id})">
        <img class="rounded" src="{{business.logo|thumbImg}}" alt="No image"/>
        <h2 class="formal">{{business.name}}</h2>
        <p ng-bind-html="business.description | shorten:70"></p>
        <div>
          <div class="col">
            <div class="pull-right">
              <a href="" ui-sref="detail({id: business.id})">
                <i class="ion-android-open energized bold-icon"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row load-more" ng-click="loadMore()" ng-show="total_pages > $root.page">
      <button class="button button-block button-energized button-small" style="top: -32px;">
        Cargar mas
      </button>
    </div>

  </ion-content>

  <!--Tabs with schedule filters-->

  <ion-tabs class="tabs-positive tabs-icon-top">

    <ion-tab title="Mañana" class="calm" icon-on="ion-ios-partlysunny"
             icon-off="ion-ios-partlysunny-outline" on-select="timeFilter('morning')">
    </ion-tab>

    <ion-tab title="Tarde" class="calm" icon-on="ion-ios-sunny"
             icon-off="ion-ios-sunny-outline" on-select="timeFilter('afternoon')">
    </ion-tab>

    <ion-tab title="Noche" class="calm" icon-on="ion-ios-moon"
             icon-off="ion-ios-moon-outline" on-select="timeFilter('night')">
    </ion-tab>

  </ion-tabs>

</ion-view>

