<ion-view view-title="Login" hide-nav-bar="true" class="login-splash">
  <ion-content scroll="false">

    <div>
      <!-- Social login -->
      <div class="padding row">
        <div class="col facebook-login center" id="social-button" ng-click="facebookLogin()">
          <i class="icon ion-social-facebook"></i>
          <span>Login con Facebook</span>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
