<!--
  This template loads for the 'detail' state (app.js)
  'product' is a $scope variable from DetailCtrl
-->
<ion-view>
  <ion-content>
    <!--Map -->
    <div id="map" style="height: 90vh; width: 100%;">
    </div>
  </ion-content>

  <!--Tabs with schedule filters-->

  <ion-tabs class="tabs-positive tabs-icon-top">

    <ion-tab title="5 km" class="calm" icon-on="ion-ios-navigate"
             icon-off="ion-ios-navigate-outline" on-select="setDistance('5')">
    </ion-tab>

    <ion-tab title="10 km" class="calm" icon-on="ion-ios-navigate"
             icon-off="ion-ios-navigate-outline" on-select="setDistance('10')">
    </ion-tab>

    <ion-tab title="20 km" class="calm" icon-on="ion-ios-navigate"
             icon-off="ion-ios-navigate-outline" on-select="setDistance('20')">
    </ion-tab>

  </ion-tabs>
</ion-view>
