<ion-popover-view style="height:180px;">
  <ion-content>
    <div class="list">
      <a class="item" ng-click="setDistance('5')" target="_blank">
        5 km
      </a>
      <a class="item" ng-click="setDistance('10')" target="_blank">
        10 km
      </a>
      <a class="item" ng-click="setDistance('20')" target="_blank">
        20 km
      </a>
    </div>
  </ion-content>
</ion-popover-view>
