<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>


    <!-- compiled css output -->
    <link href="css/ionic.app.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ionic-platform-web-client/dist/ionic.io.bundle.min.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="lib/ng-cordova-oauth/dist/ng-cordova-oauth.min.js"></script>
    <!-- Cordova is bootstrapped by ionic-platform-web-client, uncomment this if you remove ionic-platform-web-client... -->
<!-- <script src="cordova.js"></script> -->

    <script src="lib/underscore/underscore-min.js"></script>

    <!-- Google Maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDsGP9yGJn-oNFeTqqCwU3PQj53_cAPsPs"></script>
    <!--<script src='https://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'></script>-->

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
    <script src="js/filters.js"></script>
  </head>
  <body ng-app="starter">
  <ion-side-menus>

    <!-- Center content -->
    <ion-side-menu-content>
      <ion-nav-bar class="bar-calm" align-title="center">
        <!-- Back button -->
        <ion-nav-back-button>
          Atras
        </ion-nav-back-button>

        <!-- Burger button -->
        <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
          </button>
        </ion-nav-buttons>

        <ion-nav-title>
          <!--<img src="img/whoop-logo.png" class="navbar-logo" ui-sref="home">-->
        </ion-nav-title>

        <!-- Filter button -->
        <!--Remove this-->
        <!--<ion-nav-buttons side="right">-->
          <!--<button class="button button-icon button-clear ion-ios-more" ng-click="openPopover($event)" ng-controller="HomeCtrl">-->
          <!--</button>-->
        <!--</ion-nav-buttons>-->
      <!--</ion-nav-bar>-->

      <!-- Main view content -->
      <ion-nav-view animation="slide-left-right"></ion-nav-view>
    </ion-side-menu-content>

    <!-- Left menu -->
    <ion-side-menu side="left">
      <ion-content>

        <!-- Menu -->
        <div class="list" menu-close="">
          <div class="item center">
            <img src="img/whoop-logo.png" class="navbar-logo" ui-sref="home">
          </div>
          <div class="item item-icon-left" ui-sref="home">
            <i class="icon ion-home"></i>
            Inicio
          </div>
          <div class="item item-icon-left item-divider" ui-sref="filter({category: 'Eventos'})">
            <i class="icon ion-ios-musical-notes"></i>
              Eventos
          </div>
          <div class="item item-icon-left" ui-sref="filter({category: 'Deportes'})">
            <i class="icon ion-android-bicycle"></i>
              Deportes
          </div>
          <div class="item item-icon-left item-divider" ui-sref="filter({category: 'Turismo'})">
            <i class="icon ion-plane"></i>
            Turismo
          </div>
          <div class="item item-icon-left" ui-sref="filter({category: &apos;Hospedaje&apos;})">
            <i class="icon ion-home"></i>
            Hospedaje
          </div>
          <div class="item item-icon-left item-divider" ui-sref="filter({category: &apos;Gastronom&#xED;a&apos;})">
            <i class="icon ion-spoon"></i>
              Gastronom&#xED;a
          </div>
          <div class="item item-icon-left" ui-sref="filter({category: &apos;Arte &amp; Cultura&apos;})">
            <i class="icon ion-android-color-palette"></i>
            Arte &amp; Cultura
          </div>
          <div class="item item-icon-left item-divider" ui-sref="filter({category: &apos;Shopping&apos;})">
            <i class="icon ion-bag"></i>
            Shopping
          </div>
          <div class="item item-icon-left" ui-sref="filter({category: &apos;Salud&apos;})">
            <i class="icon ion-ios-medkit"></i>
              Salud
          </div>
          <div class="item item-icon-left item-divider" ui-sref="filter({category: &apos;Ocio&apos;})">
            <i class="icon ion-android-film"></i>
            Ocio
          </div>
          <div class="item item-icon-left" ui-sref="filter({category: &apos;Otros&apos;})">
            <i class="icon ion-android-menu"></i>
            Otros
          </div>
          <div class="item item-icon-left item-divider" ui-sref="map">
            <i class="icon ion-map"></i>
            Panoramas Cercanos
          </div>
          <div class="item item-icon-left" ui-sref="login">
            <i class="icon ion-android-exit"></i>
              Salir
          </div>
        </div>

      </ion-content>

    </ion-side-menu>

  </ion-side-menus>

  <!--Spinner-->
  <ion-spinner icon="ios"></ion-spinner>

  </body>
</html>
